#include <dt-bindings/adc/adc.h>
#include "feather_connector.dtsi"

&feather_i2c {
	/* 0x28 */
	spi_bridge_shield: spi_bridge@50 {
		compatible = "nxp,sc18is602b";
		status = "okay";
		spi-max-frequency = <1843000>;
		reg = <0x50>;
		#address-cells = <1>;
		#size-cells = <0>;
		irq-gpios = <&feather_header 14 GPIO_ACTIVE_LOW>;	/* SPI_INT -> D5 */

		can0_shield: can@0 {
			compatible = "microchip,mcp2515";
			status = "okay";
			spi-max-frequency = <10000000>;
			osc-freq = <12000000>;
			bus-speed = <1000000>;
			reg = <0>;
			irq-gpios = <&feather_header 15 GPIO_ACTIVE_LOW>;  /* CAN_INT -> D6 */
		};
	};

	/* 0x20 */
	gpio0_shield: gpio@40 {
		compatible = "ti,tca9538";
		status = "okay";
		reg = <0x40>;
	};

	/* 0x21 */
	gpio1_shield: gpio@42 {
		compatible = "ti,tca9538";
		status = "okay";
		reg = <0x42>;
	};

	/* 0x68 */
	adc_shield: adc@D0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "microchip,mcp3423";
		status = "okay";
		reg = <0xD0>;

		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			/* 16 bits, 15 SPS. */
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <16>;
			zephyr,vref-mv = <2048>;
		};

		channel@1 {
			reg = <1>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			/* 16 bits, 15 SPS. */
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <16>;
			zephyr,vref-mv = <2048>;
		};
	};

	/* 0x79 */
	can1_shield: j1850@F2 {
		compatible = "beirdo,j1850process";
		status = "okay";
		reg = <0xF2>;
		irq-gpios = <&feather_header 16 GPIO_ACTIVE_LOW>;	/* J1850_INT -> D9 */
	};

	/* 0x4D */
	uart0_shield: uart@9A {
		compatible = "nxp,sc16is741a";
		status = "okay";
		current-speed = <10400>;
		reg = <0xF2>;
		irq-gpios = <&feather_header 17 GPIO_ACTIVE_LOW>;	/* UART_INT -> D10 */
	};
};
