# Beirdo's Vehicle CAN Collector configuration

# Copyright (c) 2022 Gavin Hurlbut
# SPDX-License-Identifier: Apache-2.0

config SHIELD_BEIRDO_QWIIC_OBD_V1
	bool "Beirdo's QWIIC OBD v1"
	def_bool $(shields_list_contains,beirdo_qwiic_obd_v1)
	depends on ADC_MCP342X
	depends on SPI_SC18IS602B
	depends on CAN_J1850_PROCESS
	depends on I2C
	depends on GPIO_TCA953X
	depends on SERIAL_C16IS741A
	depends on CAN_MCP2515
	depends on SPI
