# Copyright (c) 2021, Marc Reilly, Creative Product Design
# SPDX-License-Identifier: Apache-2.0

config SPI_SC18IS602B
	bool "NXP SC18IS602B I2C-SPI Bridge"
	default y
	depends on DT_HAS_SPI_SC18IS602B_ENABLED
	depends on I2C
	help
	  Enable the NXP SC18IS602B I2C-SPI bridge
