/ {
  	chosen {
		zephyr,can-primary = &can1;
	};
};

&feather_i2c {
  clock-frequency = <I2C_BITRATE_FAST>;

	external_gpio: gpio@20 {
		reg = <0x20>;
		compatible = "ti,tca9538";
		label = "external-gpio";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		status = "okay";
	};

	display: ssd1306@3C {
		reg = <0x3C>;
		compatible = "solomon,ssd1306fb";
		label = "SSD1306";
		height = <64>;
		width = <128>;
		display-offset = <0>;
		segment-offset = <0>;
		page-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
		segment-remap;
		com-invdir;
    com-sequential;
	};
};

/ {
  /* RX, TX, SAE_PWM */
  j1850: node0 {
      gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>, <&gpiob 10 GPIO_ACTIVE_HIGH>, <&external_gpio 2 GPIO_ACTIVE_HIGH>;
  };

  /* EN, CAN_SEL0, CAN_SEL1 */
  can_io: node1 {
      gpios = <&gpioc 3 GPIO_ACTIVE_LOW>, <&external_gpio 7 GPIO_ACTIVE_HIGH>, <&external_gpio 6 GPIO_ACTIVE_HIGH>;
  };

  /* SW_CAN_MODE0, SW_CAN_MODE, SW_CAN_LOAD */
  sw_can_io: node2 {
      gpios = <&external_gpio 5 GPIO_ACTIVE_HIGH>, <&external_gpio 4 GPIO_ACTIVE_HIGH>, <&external_gpio 3 GPIO_ACTIVE_HIGH>;
  };

  /* K_LINE_EN, ISO_k */
  kline_io: node3 {
      gpios = <&external_gpio 1 GPIO_ACTIVE_HIGH>, <&external_gpio 0 GPIO_ACTIVE_HIGH>;
  };

  neopixel: node4 {
      gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
  };
};

&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	bus-speed = <1000000>;
	status = "okay";
};

&adc1 {
	status = "okay";
};
