// /delete-node/ &storage_partition;

/ {
  	chosen {
		zephyr,can-primary = &can1;
	};

/*
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&lfs1_part>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
*/

	soc {
		sdmmc1: sdio@40012c00 {
			compatible = "st,stm32-sdmmc";
			reg = < 0x40012C00 0x400 >;
			clocks = < &rcc 0x3 0x800 >;
			interrupts = < 0x31 0x4 >;
			label = "SDMMC_1";
			status = "okay";
			cd-gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9 &sdio_d2_pc10 &sdio_d3_pc11
						&sdio_ck_pc12 &sdio_cmd_pd2>;
		};
	};
};


&feather_i2c {
  clock-frequency = <I2C_BITRATE_FAST>;

	external_gpio: gpio@20 {
		reg = <0x20>;
		compatible = "ti,tca9538";
		label = "external-gpio";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		status = "okay";
	};

	display: ssd1306@3C {
		reg = <0x3C>;
		compatible = "solomon,ssd1306fb";
		label = "SSD1306";
		height = <64>;
		width = <128>;
		display-offset = <0>;
		segment-offset = <0>;
		page-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
		segment-remap;
		com-invdir;
    	com-sequential;
	};
};

&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	bus-speed = <1000000>;
	status = "okay";
};

&adc1 {
	status = "okay";
};

/* KLine */
&usart6 {
  pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
  current-speed = <10400>;
  status = "okay";
};

